---
const ExtraInformationCard = [
  {
    id:1,
    title: "Nuestra Misión",
    info:"Nuestra misión es aplicar esfuerzos en la producción de ácido sulfúrico, cumpliendo estándares de calidad con responsabilidad ambiental; a fin de generar beneficios que permitan mantener las prestaciones básicas y complementarias de COSSMIL para los miembros de las Fuerzas Armadas de la Nación.",
    image:"/images/Mision.png"
  },
  {
    id:2,
    title:"Nuestra Visión",
    info:"Ser una Empresa modelo de la Gerencia de Empresas de COSSMIL; con participación activa en el desarrollo económico, crecimiento en los mercados más competitivos y organizada con personal altamente calificado",
    image:"/images/page2_img_vision.png"
  }

]
---


<!-- about.astro -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acerca de Nosotros</title>
</head>
<body>
  <header class="Encabezado">  
    <nav class="header-all">
      <div class="header-top">
        <h3>
          Empresa Industrial Eucaliptus S.R.L.
        </h3>
        <button class="header-btn">
          <img src="/images/icon-menu.png" alt="Icon-Menu">
        </button>
      </div>
      <ul class="header-menu">
        <li class="about"><a href="/about" class="about">Acerca de Nosotros</a></li>
        <li><a href="/product">Producto</a></li>
        <li><a href="/">Inicio</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="cont-img">
      <div class="cont">
        <img class="imag-izq" src="/images/page2_img.png" alt="imagen1">
        <img src="/images/page2_img2.png" alt="imagen2">
        <img src="/images/page2_img3.png" alt="imagen3">
        <img src="/images/page2_img4.jpg" alt="Imagen4">
        <img src="/images/page2_img5.jpg" alt="Image5">
        <img src="/images/page2_img6.jpg" alt="Imagen6">
        <img src="/images/page2_img7.jpg" alt="Imagen7">
      </div>
    </section>
    <article class="conteiner">
      <div class="information-all">
        {
          ExtraInformationCard.map((ec)=>(
          <div class={`information information${ec.id}`}>
            <div class={`information-top information-top${ec.id}`}>
              <h3>
                {ec.title}
              </h3>
              <p>
                {ec.info}
              </p>
            </div>
            <img src={ec.image} alt="Imagen de mision y vision">
          </div>
          ))
        }
      </div>  
    </article>
    
    <section class="section_clientes">
      <h2>
        Nosotros amamos trabajar con nuestros clientes...
      </h2>
      <article class="clientes">
        <a href="https://www.mineracorocoro.com/" target="_blank"><img src="/images/empresas/Logo1-removebg-preview.png" alt="CORPORACIÓN MINERA DE BOLIVIA - EMPRESA MINERA COROCORO"></a>
        <a href="https://bo.linkedin.com/company/import-export-copla-ltda" target="_blank"><img src="/images/empresas/logo3-removebg-preview.png" alt="IMPORT EXPORT COPLA LTDA"></a>
        <a href="http://www.mafeesgroup.com/" target="_blank"><img src="/images/empresas/logo4-removebg-preview.png" alt="MG"></a>
        <a href="https://aguai.com.bo/wp/" target="_blank"><img src="/images/empresas/logo5-removebg-preview.png" alt="Removebg-preview"></a>
        <a href="https://directoriodecarga.com/empresas/ingenio-azucarero-guabira-sa-santa-cruz-de-la-sierra" target="_blank"><img src="/images/empresas/logo6-removebg-preview.png" alt="INGENIO AZUCARERO GUABIRA S.A."></a>
        <a href="https://www.unagro.com.bo/" target="_blank"><img src="/images/empresas/logo7-removebg-preview.png" alt=""></a>
        <a href=""><img src="/images/empresas/logo8-removebg-preview.png" alt=" Imagen 6"></a>
        <a href="https://antaqhuyamine.com/operaciones/" target="_blank"><img src="/images/empresas/logo9-removebg-preview.png" alt="Logo 9"></a>
        <a href="https://antaqhuyamine.com/operaciones/" target="_blank"><img src="/images/empresas/logo10-removebg-preview.png" alt="Logo 10 "></a>
        <a href="https://www.facebook.com/ImportadoradebateriasQuimibolZabPower/?locale=es_LA" target="_blank"><img src="/images/empresas/logo11-removebg-preview.png" alt="Importadora de baterias"></a>
        <a href="" ><img src="/images/empresas/logo12-removebg-preview.png" alt="Logo 12"></a>
        <a href="" ><img src="/images/empresas/logo13-removebg-preview.png" alt="Logo 13"></a>
        <a href="https://www.facebook.com/DistribuidorExclusivoDeProductosMaxxoil/" target="_blank"><img src="/images/empresas/logo14-removebg-preview.png" alt="Distribuidora de Productos Maxxoil"></a>
        <a href="" ><img src="/images/empresas/logo15-removebg-preview.png" alt="Logo 15"></a>
        <a href="https://www.facebook.com/All.Chemical.Tech.Bolivia/?locale=es_LA" target="_blank"><img src="/images/empresas/logo16-removebg-preview.png" alt="Chemical Bolivia"></a>
        <a href=""><img src="/images/empresas/logo17-removebg-preview.png" alt="Logo 17"></a>
        <a href=""><img src="/images/empresas/logo18-removebg-preview.png" alt="Logo 18"></a>
        <a href="https://www.facebook.com/recumet.bo/" target="_blank"><img src="/images/empresas/logo19-removebg-preview.png" alt="logo 19"></a>
        <a href="https://www.facebook.com/p/Molles-OiL-100066299753030/?locale=ku_TR" target="_blank"><img src="/images/empresas/logo20-removebg-preview.png" alt="Logo 20"></a>

      </article>
    </section>
    <footer>
      <div class="foot">
        <h3>
          <b>Ubicanos y Contactanos por:</b>
        </h3>
        <div class="icons">
          <a  href="https://wa.link/5x7v06" target="_blank"><img src="/images/icon_whatsapp.svg" alt="Whatsapp"></a>
          <a  href="mailto:jcomercial@empresa-eucaliptus.com ?subject=Consulta&body=Hola,%20quiero%20hacerte%20una%20consulta." target="_blank"><img src="/images/icon_mail.svg" alt="Mail"></a>
          <a  href="https://maps.app.goo.gl/KvypU8gvzEVvwjGD6" target="_blank"><img src="/images/icon_maps.svg" alt="Maps"></a>
        </div>
        </div>
        <div class="foot">
        <h3>
          <b>Visitanos en Nuestras Redes Sociales:</b>
        </h3>
          <div class="icons2">
            <a href="https://www.instagram.com/EIECOSS_SRL/" target="_blank "><img src="/images/instagram-icon.png" alt="link de instagram"></a>
            <a href="https://www.facebook.com/profile.php?id=61565396315237&mibextid=JRoKGi" target="_blank"><img src="/images/facebook.png" alt="facebook"></a>
            <a href="https://www.tiktok.com/@eiecoss?_t=8pmRi0HReRZ&_r=1" target="_blank"><img src="/images/tik-tok.png" alt="tik Tok"></a>
          </div>
        
      </div>
    </footer>
  </main>
  <style>
    *{
			margin: 0;
			padding: 0;
			bottom: 0;
		}
		body{
			height: all;
			margin: 0;
			background: linear-gradient(to bottom, #68778D, #ffffff);
		}
     .header-all{
      padding: 20px 10px;
      font-size: 20px;
      background:linear-gradient(to bottom, #1f3d61 50%, #68778D ) ;
    }
     .header-top{
      display: flex;
      justify-content: space-between;
      align-items: center ;
      animation: slideInFromLeft 1s ease-out forwards;
    }
     .header-top h3{
      font-size: 20px;
      color: white;
      font-family: "Myriad Pro Regular";
      max-width: 12rem;

    }
     .header-btn{
      background-color: transparent;
      border: transparent;

    }
     .header-menu{
      display: none;
      list-style: none;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    .header-menu li{
      margin: 10px;
    }
    .header-menu a{
      text-decoration: none;
      color: #ffffff;  
          
    }
    .cont-img{
      display: flex;
      justify-content: center;
      margin-bottom: 0px;
    }
    .cont{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 300px;
        margin-bottom: -80px;
    }
    .cont img{
        width: 0px;
        height: 200px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
    }
    .cont img:hover {
        cursor: url('/images/cursor.png') 10 10, auto;
        width: 90px;
        opacity: 1;
        filter: contrast(120%);
    }
    .cont.visible{
      opacity: 1;
      transform: translateY(0);
    }
    .information{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      opacity: 0;
			transform: translateY(50px);
      transition: opacity 1s ease-out, transform 1s ease-out;
      font-family: "Myriad Regular";
    } 
    .information.visible{
      opacity: 1;
      transform: translateY(0);
    }
    .information-top{
      max-width: 18rem;
    }
    .information-top h3{
      font-size: 20px;
      line-height: 5rem;
    }
    .information img {
      width: 220px;
      height: 220px;
      border-radius: 10px;
      margin: 20px 0px;
      box-shadow: 20px 20px 90px rgb(76, 71, 71);
    }

    footer{
        background-color: #1759AC;
        height: 319px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;

      }
      footer h3{
        margin: 20px;
        font-size: 24;
        font-family: "Archivo Black", sans-serif;
        color: white;
      }
      .foot h3{
        margin: 20px;
        font-size: 24;
        font-family: "Archivo Black", sans-serif;
        color: white;
      }
      .foot img{
        width: 43px;
        height: 43px;
        padding: 0px 20px;
        transition: transform, 500ms;
      }
      .foot img:hover{
        transform: scale(1.5);
      }
      .foot{
        display: flex;
        justify-content:center ;
        align-items: center;
        flex-direction: column;
      }
    .icons img{
			width: 43px;
			height: 43px;
			padding: 0px 20px;
			transition: width, height, 500ms;
		}
		.icons img:hover{
      transform: scale(1.5);
		}
  
    .a img{
      width: 637px;
      height: 483px;
    }

    .conteiner{
      margin: 60px 0px;
    }
    .section_clientes{
        text-align: center;
        margin: 50px 0px;
        font-size: 40px;
        font-family: "Myriad Pro Regular";
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
			  transform: translateY(50px);
        transition: opacity 1s ease-out, transform 1s ease-out;
      }
      .section_clientes.visible{
        opacity: 1;
        transform: translateY(0);
      }
      .clientes{
        background-color: white;
        box-shadow: 20px 20px 100px gray;
        border-radius: 30px;
        width: 90%;
        height: 30rem;
        margin-top: 50px;
        
      }
      .clientes img{
        max-width: 100%;
        width: 90px;
        margin: 30px;

      }

    @keyframes slideInFromLeft {
			0% {
				transform: translateX(-100%);
				opacity: 0;
			}
			100% {
				transform: translateX(0);
				opacity: 1;
			}
		}
    @keyframes slideInFromTop {
			0% {
				transform: translateX(-100%);
				opacity: 0;
			}
			100% {
				transform: translateX(0);
				opacity: 1;
			}
		}
    @keyframes slideInFromBottom {
			0% {
				transform: translateY(100%);
				opacity: 0;
			}
			100% {
				transform: translateY(0);
				opacity: 1;
			}
		}
      
  
      .section_clientes h2{
        font-size: 18px;
      }
      .clientes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
      .clientes img{
        width: 40px;
        height: 30px;
        margin: 10px;
      }
      footer{
        height: 220px;
      }
      footer h3{
        font-size: 10px;
        text-align: center;
      }
      .foot img{
        padding: 0%;
        width: 24px;
        height: 24px;
      }
      .foot .icons img {
			  height: 24px;
			  width: 24px;
			  padding: 0;
			  margin: 0px 10px ;
	  	}
		  .foot .icons2 img {
			  height: 24px;
			  width: 24px;
			  padding: 0;
			  margin: 0px 10px;
		  }
      @media(min-width:355px){
        .cont{
          width: 320px;
        }
        .information-top{
          max-width: 20rem;
        }
      }
      @media(min-width:425px){
        .cont{
          width: 350px;
        }
        .information-top{
          max-width: 25rem;
        }
      }
      @media(min-width: 658px){
        .cont{
          width: 650px;
          height: 500px;
        }
        .cont img{
          height: 350px;
        }
        .cont img:hover{
          width: 200px;
        }
        .information-top{
          max-width: 45rem;
        }
        .information-top h3{
          font-size: 30px;
        }
        .information-top p{
          font-size: 20px;
        }
        .information img{
          width: 384px;
          height: 350px;
        }
        .clientes img{
          width: 70px;
          height: 50px;
          margin: 10px;
        }
        .section_clientes h2{
          font-size: 40px;
        }
      }
      @media (min-width: 1024px){
        .header-all{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background:none;
        }
        .header-top h3{
          max-width: 100%;
          font-family: "Archivo Black", sans-serif;
          font-size: 20px;
        }
        .header-menu {
          flex-direction: row;
        }
        .header-menu a{
          font-family: "Archivo Black", sans-serif;
          font-size: 20px;
          color: #1759AC;
        }
        .about a{
          color: #E2B155;
        }
        .header-btn{
          display: none;
        }
        .cont{
          width: 900px;
          height: 500px;
          margin-top: 30px;
          margin-bottom: 10px;
        }
        .cont img{
          height: 500px;
        }
        .cont img:hover{
          width: 250px;
        }
        .information1{
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
        }
        .information p,h3{
          max-width: 25rem;
        }
        .information img{
          border-radius: 30px;
        }
        .information2{
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-evenly;
          align-items: center;
        }
        .section_clientes h2{
          font-size: 80px;
        }
        .clientes{
          max-width: 70%;
        }
        .clientes img{
          width: 80px;
          height: 70px;
         margin: 20px;
        }
        .foot h3{
			    font-size: 20px;
		    }
		    .foot .icons img {
		    	height: 40px;
			    width: 40px;
		    	padding: 0;
			    margin: 0px 10px ;
		    }   
	  	.foot .icons2 img {
		    	height: 40px;
		    	width: 40px;
		    	padding: 0;
		    	margin: 0px 10px ;
	    	}
      }
      @media(min-width:1440px){
        .header-top h3{
          font-size: 25px;
        }
        .header-menu a{
          font-size: 25px;
        }
        .cont{
          width: 1300px;
          height: 500px;
          margin-top: 60px;
        }
        .cont img{
          height: 600px;
        }
        .cont img:hover{
          width: 200px;
        }
        .information{
          margin-top: 120px;
        }
        .information h3{
          text-align: center;
          font-size: 50px;
        }
        .information p{
          max-width: 40rem;
        }
        .information-top{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
        }

      }
      @media(min-width:2560px){
        .cont{
          width: 1700px;
          height: 800px;
          margin-top: 60px;
        }
        .cont img{
          height: 800px;
        }
        .cont img:hover{
          width: 400px;
        }
        .header-top h3{
          font-size: 35px;
        }
        .header-menu a{
          font-size: 35px;
        }
      }
  </style>
  <script>
      const fadeElements = document.querySelectorAll('.cont, .information, .section_clientes');
      const observer = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('visible');
        } 
        else {
          entry.target.classList.remove('visible');
          }
        });
        }, {
      threshold: 0.5
        });
      fadeElements.forEach(element => {
        observer.observe(element);
        });
      //Para el boton en mobile header 
        const header_btn = document.querySelector('.header-btn');
        const header_menu = document.querySelector('.header-menu');
        header_btn.addEventListener('click', () => {
          header_menu['style']['display'] = header_menu['style']['display'] === "block" ? "none" : "block";
        });
        window.addEventListener('resize', () => {
          if (window.innerWidth >= 1024) {
            header_menu['style']['display'] = "flex"; 
          } else {
            header_menu['style']['display'] = "none"; 
          }
        });
        window.addEventListener('load', () => {
            if (window.innerWidth >= 1024) {
                header_menu['style']['display'] = "flex"; 
            } else {
                header_menu['style']['display'] = "none"; 
            }
        });
        
        document.querySelectorAll('.header-menu a').forEach(item => {
          item.addEventListener('click', () => {
            if (window.innerWidth < 1024) {
              header_menu['style']['display'] = "none"; 
            }
         });
     });
     

  </script>
</body>
</html>