---
import { object } from "astro/zod"

  const ExtraInformacionProduct = [
  {
    id:1,
    title: "¿Qué producimos?",
    info: "En la Empresa Industrial Eucaliptus SRL somos líderes en la producción de ácido sulfúrico de alta calidad. Este compuesto químico, esencial para una amplia gama de industrias, es el resultado de un riguroso proceso de fabricación que garantiza su pureza y eficiencia.",
    image: "/Empresa-Industrial-Eucaliptus-S.R.L./images/page3_img_producto_historia.png"
  },
  {
    id:2,
    title: "¿Cuál es el proceso de producción?",
    info:"El proceso de producción de ácido sulfúrico en EIECOSS S.R.L. se basa en el método de contacto y consiste en cuatro etapas clave:",
    list:["Combustión del Azufre: El azufre sólido se funde y se quema con aire seco para obtener dióxido de azufre (SO₂).",
            "Conversión Catalítica: El SO₂ se oxida a trióxido de azufre (SO₃) en presencia de un catalizador de pentóxido de vanadio en un reactor de múltiples etapas.",
            "Absorción del SO₃: El SO₃ se absorbe en ácido sulfúrico concentrado para formar ácido sulfúrico (óleum).",
            "Dilución del Ácido: El óleum se diluye con agua para obtener ácido sulfúrico H2SO4 al 98.5% de concentración."],
    image:"/Empresa-Industrial-Eucaliptus-S.R.L./images/page3_img_producto.png"
  },
  {
    id:3,
    title: "Datos de Interés del H2SO4 Ácido sulfúrico",
    info:["El ácido sulfúrico es uno de los productos químicos más ampliamente utilizados a nivel industrial, con una producción mundial que supera los 200 millones de toneladas al año.",
          "Al ser un ácido fuerte, el H2SO4 es altamente corrosivo y puede causar graves quemaduras en contacto con la piel. Por ello, es fundamental manipularlo con extrema precaución y siguiendo estrictas medidas de seguridad.",  
          "Además de su uso en la fabricación de productos químicos como fertilizantes, explosivos y detergentes, el ácido sulfúrico también tiene aplicaciones en la industria metalúrgica para la refinación de metales como el cobre y el zinc.",
          "La producción responsable y el manejo adecuado del ácido sulfúrico son cruciales para prevenir impactos negativos en la salud humana y en el medio ambiente. Es indispensable contar con instalaciones seguras para su almacenamiento y manipulación.",
          ],
    image:"/Empresa-Industrial-Eucaliptus-S.R.L./images/acido_sulfurico.jpg",
  },
  {
    id:4,
    title:"Precauciones y Seguridad con el H2SO4 Ácido sulfúrico",
    info:"Al manipular ácido sulfúrico, es crucial seguir estrictas medidas de seguridad para prevenir accidentes y daños. Aquí te presentamos algunas precauciones a tener en cuenta:",
    list:["Utiliza equipo de protección personal (EPP) adecuado:",
            "Gafas de seguridad, guantes resistentes a ácidos y ropa protectora son imprescindibles.",
            "Manipula el ácido en áreas bien ventiladas:",
            "Evita inhalar vapores corrosivos que pueden ser perjudiciales para tu salud.",
            "Almacenamiento seguro del ácido:",
            "Mantén el ácido en recipientes apropiados, preferiblemente en lugares frescos y secos, lejos de sustancias incompatibles.",
            "Manejo cuidadoso para evitar derrames",
            "Si se produce un derrame, limpia inmediatamente con los materiales absorbentes adecuados siguiendo los procedimientos establecidos.",
          ],
    extra_info:"Recuerda que una correcta gestión del ácido sulfúrico no solo protege tu integridad física, sino también previene impactos negativos en el medio ambiente.",
    image:"/Empresa-Industrial-Eucaliptus-S.R.L./images/Ácido_sulfúricoH2SO4.jpeg"
  }
    
  ]
---
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
  <html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
  </head>
  <body class="fade-in">
    <header class="Encabezado">  
      <nav class="header-all">
        <div class="header-top">
          <h3>
            Empresa Industrial Eucaliptus S.R.L.
          </h3>
          <button class="header-btn">
            <img src="/Empresa-Industrial-Eucaliptus-S.R.L./images/icon-menu.png" alt="Icon-Menu">
          </button>
        </div>
        <ul class="header-menu">
          <li><a href="/Empresa-Industrial-Eucaliptus-S.R.L./about" class="about">Acerca de Nosotros</a></li>
          <li class="product"><a href="/Empresa-Industrial-Eucaliptus-S.R.L./product">Producto</a></li>
          <li><a href="/Empresa-Industrial-Eucaliptus-S.R.L./">Inicio</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="head">
        <h2>
          ACERCA DE NUESTRO PRODUCTO 
        </h2>
        <img src="/Empresa-Industrial-Eucaliptus-S.R.L./images/page3_img.png" alt="imagen principal">
      </section>
    </main>
    <section class="contenidoo">
  
      <div class="information">
        {
          ExtraInformacionProduct.map((ec)=>(
            <div class={`information information${ec.id}`}>
            <div class={`information-top information-top${ec.id}`}>
              <h3>
              {ec.title}
             </h3>
             <p>
              {ec.info}
             </p>
             <ul>
              {
              ec.list?.map((lis)=>(
                <li>{lis}</li>
              ))
              }
             </ul>
             <p>
              {ec.extra_info}
            </p>             
            </div>
            <img src={ec.image} alt="Imagen de la empresa">
          </div>
          ))
        }
    </div>
  </section>
    <footer>
      <div class="foot">
        <h3>
          <b>Ubicanos y Contactanos por:</b>
        </h3>
        <div class="icons">
          <a  href="https://wa.link/5x7v06" target="_blank"><img src="/Empresa-Industrial-Eucaliptus-S.R.L./images/icon_whatsapp.svg" alt="Whatsapp"></a>
          <a  href="mailto:jcomercial@empresa-eucaliptus.com ?subject=Consulta&body=Hola,%20quiero%20hacerte%20una%20consulta." target="_blank"><img src="/Empresa-Industrial-Eucaliptus-S.R.L./images/icon_mail.svg" alt="Mail"></a>
          <a  href="https://maps.app.goo.gl/KvypU8gvzEVvwjGD6" target="_blank"><img src="/Empresa-Industrial-Eucaliptus-S.R.L./images/icon_maps.svg" alt="Maps"></a>
        </div>
        </div>
        <div class="foot">
        <h3>
          <b>Visitanos en Nuestras Redes Sociales:</b>
        </h3>
          <div class="icons2">
            <a href="https://www.instagram.com/EIECOSS_SRL/" target="_blank "><img src="/Empresa-Industrial-Eucaliptus-S.R.L./images/instagram-icon.png" alt="link de instagram"></a>
            <a href="https://www.facebook.com/profile.php?id=61565396315237&mibextid=JRoKGi" target="_blank"><img src="/Empresa-Industrial-Eucaliptus-S.R.L./images/facebook.png" alt="facebook"></a>
            <a href="https://www.tiktok.com/@eiecoss?_t=8pmRi0HReRZ&_r=1" target="_blank"><img src="/Empresa-Industrial-Eucaliptus-S.R.L./images/tik-tok.png" alt="tik Tok"></a>
          </div>
        
      </div>
    </footer>
    <style>
      *{
        padding: 0;
        margin: 0;
      }
      body{
        height: all;
        background: linear-gradient(to bottom, #68778D, #ffffff);
      }
      .header-all{
      padding: 20px 10px;
      font-size: 20px;
      background:linear-gradient(to bottom, #1f3d61 50%, #68778D ) ;
    }
     .header-top{
      display: flex;
      justify-content: space-between;
      align-items: center ;
      animation: slideInFromLeft 1s ease-out forwards;
    }
     .header-top h3{
      font-size: 20px;
      color: white;
      font-family: "Myriad Pro Regular";
      max-width: 12rem;

    }
     .header-btn{
      background-color: transparent;
      border: transparent;

    }
     .header-menu{
      display: none;
      list-style: none;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    .header-menu li{
      margin: 10px;
    }
    .header-menu a{
      text-decoration: none;
      color: #ffffff;  
          
    }
      .head{
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 0px;
        max-height: 70px
        animation: slideInFromLeft 1s ease-out forwards;
      }
			
      .head img{
        width: 100%;
        max-height: 80px;
        object-fit: cover;
        filter: brightness(50%);
        z-index: -1;
      }
      .head h2{
        z-index: 1;
        position: absolute;
        top: 30%;
        color: white;
        font-family: "Myriad Pro Regular", sans-serif;
        font-size: 20px;
        display: grid;
        top: 23px;text-align: center;
      }
      .information{
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
			  transform: translateY(50px);
        transition: opacity 1s ease-out, transform 1s ease-out;
      }
      .information.visible{
        opacity: 1;
        transform: translateY(0);
      }
      .information-top{
        display: flex;
        flex-direction: column;
        font-family: "Myriad Regular";
        align-items: center;
        max-width: 18rem;
      }
      .information-top h3{
        font-size: 20px;
        text-align: center;
        margin: 10px 0px;
      }    
      .information-top p{
        font-size: 12px;
        text-align: center;
        margin: 10px 0px;
      }
      .information-top li{
        font-size: 12px;
        max-width: 15rem;
      }
      .information img{
        width: 220px;
        height: 220px;
        border-radius: 10px;
        box-shadow: 10px 20px 100px #1759AC;
        margin: 20px 0px;
      }
      footer{
        background-color: #1759AC;
        height: 319px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        max-height: 150px;

      }
      footer h3{
        margin: 20px;
        font-size: 10px;
        font-family: "Archivo Black", sans-serif;
        color: white;
      }
      .foot h3{
        margin: 20px;
        font-size: 24;
        font-family: "Archivo Black", sans-serif;
        color: white;
      }
      .foot img{
        width: 20px;
        height: 20px;
        padding: 0px 10px;
        transition: transform, 500ms;
      }
      .foot img:hover{
        transform: scale(1.5);
      }
      .foot{
        display: flex;
        justify-content:center ;
        align-items: center;
        flex-direction: column;
      }
      .form{
        font-size: 24px;
        line-height: 1.5;
      }
      .information1 {
        list-style: none;
      }

      @media (min-width: 375px){
        .information-top {
          max-width: 20rem;
        }
        .information li {
          max-width: 17rem;
        }
      }
      @media(min-width: 425px){
        .information-top{
          max-width: 25rem;
        }
        .information li{
          max-width: 20rem;
        }
      }
      @media (min-width: 658px){
        .header-top h3{
          max-width: 45rem;
        }
        .head h2{
          font-size: 40px;
          top:60px;
          text-align: center;
        }
        .head img{
          max-height: 180px;
        }
        .information-top {
          max-width: 45rem;
        }
        .information img {
          width: 300px;
          height: 300px;
        }
        .information-top li{
          max-width: 42rem;
          font-size: 18px;
          list-style: circle;
        }
        .information-top h3{
          font-size: 30px;
        }
        .information-top p{
          font-size: 20px;
        }
        .foot h3{
          font-size: 15px;
        }
        .foot .icons img {
          height: 35px;
          width: 35px;
          padding: 0;
          margin: 0px 10px ;
        }
        .foot .icons2 img {
          height: 35px;
          width: 35px;
          padding: 0;
          margin: 0px 10px ;
        }
      }
    /* Animación de fade-in */
		@keyframes fadeIn {
			0% { 
				opacity: 0; 
			}
			100% { 
				opacity: 1; 
			}
		}

		.fade-in {
			animation: fadeIn 1s ease-in forwards;
		}
		@keyframes slideInFromLeft {
			0% {
				transform: translateX(-100%);
				opacity: 0;
			}
			100% {
				transform: translateX(0);
				opacity: 1;
			}
		}

		@keyframes slideInFromRight {
			0% {
				transform: translateX(100%);
				opacity: 0;
			}
			100% {
				transform: translateX(0);
				opacity: 1;
			}
		}
    @keyframes slideInFromBottom {
			0% {
				transform: translateY(100%);
				opacity: 0;
			}
			100% {
				transform: translateY(0);
				opacity: 1;
			}
		}
      @media (min-width: 1024px){
        .header-all{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background:none;
        }
        .header-top h3{
          max-width: 100%;
          font-family: "Archivo Black", sans-serif;
          font-size: 20px;
        }
        .header-menu {
          flex-direction: row;
        }
        .header-menu a{
          font-family: "Archivo Black", sans-serif;
          font-size: 20px;
          color: #1759AC;
        }
        .product a{
          color: #E2B155;
        }
        .header-btn{
          display: none;
        }
        .head{
          margin: 50px 0px;
        }
        .head h2{
          top: 85px;
          font-size: 70px;
        }
        .head img{
          min-height: 250px;
        }
        .information{
          margin: 30px 0px;
        }
        .information1, .information3{
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
        .information2, .information4{
          flex-direction: row-reverse;
          justify-content: space-evenly;
          align-items: center;
        }
        .information1 p{
          max-width: 35rem;
          padding-right: 30px;
        }
        .information3 p,h3{
          max-width: 35rem;
          padding-right: 30px;
        }
        .information2 p,h3{
          max-width: 35rem;
          padding-left: 30px;
        }
        .information4 p,h3{ 
          max-width: 35rem;
          padding-left: 30px;
        }
        .information li {
          max-width: 24rem
        }
        .information img{
          width: 300px;
          height: 400px;
        }
        .foot h3{
		    	font-size: 20px;
    		}
		    .foot .icons img {
		    	height: 40px;
		    	width: 40px;
	    		padding: 0;
	    		margin: 0px 10px ;
	    	}
	    	.foot .icons2 img {
			    height: 40px;
		    	width: 40px;
		    	padding: 0;
		    	margin: 0px 10px ;
	    	}
        footer {
          min-height: 250px;
        }
      }
      @media (min-width: 1440px){
        .header-menu a{
          font-size: 25px;
        }
        .header-top h3{
          font-size: 25px;
        }
        .information p{
          font-size: 20px;
        }
        .information h3{
          font-size: 40px;
        }
        .information p, h3{
          max-width: 55rem;
        }
        .information li{
          max-width: 40rem;
          font-size: 17px;
        }
        .information img{
          width: 384px;
          height: 385px;
        }
      }
      @media(min-width: 2560px){
          .information{
            min-width: 90%;
            justify-content: space-evenly;
          }
          .information1, .information3 {
            background-color: #cbe1ec;
            border-radius: 30px;
            box-shadow: 30px 20px 20px 1px rgb(145, 135, 135);
          }
          .information p{
            max-width: 700rem;
            font-size: 30px;
          }
          .information li{
            font-size: 27px;
          }
          .information img{
            width: 587px;
            height: 585px;
            border-radius: 30px;
          }
          footer{
            min-height: 400px;
          }
          .foot h3{
            font-size: 40px;
          }
          .foot img {
            min-width:73px;
            min-height: 73px;
          }
      }
    </style>
    <script>
      const fadeElements = document.querySelectorAll('.information, .contenidoo');
      const observer = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
        entry.target.classList.add('visible');
        } else {
        entry.target.classList.remove('visible');
        }
      });
      }, {
      threshold: 0.1 
      });
      fadeElements.forEach(element => {
      observer.observe(element);
      });

              //Para el boton en mobile header 
              const header_btn = document.querySelector('.header-btn');
              const header_menu = document.querySelector('.header-menu');
              header_btn.addEventListener('click', () => {
                header_menu.style.display = header_menu.style.display === "block" ? "none" : "block";
              });
              window.addEventListener('resize', () => {
                if (window.innerWidth >= 1024) {
                  header_menu.style.display = "flex"; 
                } else {
                  header_menu.style.display = "none"; 
                }
              });
              window.addEventListener('load', () => {
                if (window.innerWidth >= 1024) {
                  header_menu.style.display = "flex"; 
                } else {
                  header_menu.style.display = "none"; 
                }
              });
              document.querySelectorAll('.header-menu a').forEach(item => {
                item.addEventListener('click', () => {
                  if (window.innerWidth < 1024) {
                    header_menu.style.display = "none"; 
                  }
                });
              });

    </script>
  </body>
  </html>